In [1]:
import os
import pandas as pd
from neuron_morphology.swc_io import morphology_from_swc

In [7]:
layer_aligned_dir = r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\datasets\human_exc\data\SWC_LayerAligned'

soma_depths = {}
for swc in os.listdir(layer_aligned_dir):
    if swc.endswith('.swc'):
        spid = int(swc.split('.swc',1)[0])
        nrn = morphology_from_swc(os.path.join(layer_aligned_dir, swc))
        soma_depths[spid] = nrn.get_soma()['y']

In [8]:
soma_depths_df = pd.DataFrame(list(soma_depths.items()), columns=['specimen_id', 'layer_aligned_depth'])

In [9]:
soma_depths_df

     specimen_id  layer_aligned_depth
0     1001449781         -1278.645687
1     1001462085         -1409.654407
2     1001491745         -1486.158065
3     1001497435         -1467.774672
4     1005032096         -1468.943695
..           ...                  ...
333    977174000         -1566.351986
334    987420933         -1196.780974
335    987474935          -762.724319
336    987481130          -826.570640
337    992010953         -1491.671454

[338 rows x 2 columns]

In [11]:
soma_depths_df.to_csv(r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\datasets\human_exc\data\soma_depth\20251029_human_layer_aligned_depth\20251029_layer_aligned_depth.csv', index=False)